.app {
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.child {
    font-family: 'Orbitron', sans-serif;
    background-color: #F6DBAD;
    text-align: center;
    width: 700px;
    padding-bottom: 20px;
    margin: 0 0 5px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.view {
    font-family: 'Orbitron', sans-serif;
    background-color: #DEDDDD;
    text-align: center;
    width: 350px;
    min-height: 200px;
    margin: 0 0 0 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1);
    float: left;
}

.deleted {
    font-family: 'Orbitron', sans-serif;
    background-color: #B9D9D6;
    width: 350px;
    min-height: 200px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 25px 50px 0 rgba(0, 0, 0, 0.1);
    float: right;
}
.Check{
height: 20px;
width: 20px;
}
.X{
height: 20px;
width: 20px;
}
/* MEDIA QUERY*/
@media only screen and (max-width: 1182px) {
    .child {
        width: 350px;
    }
}
